* {
	box-sizing: border-box;
}


/*字体库*/

@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot');
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype'), url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


/*reset*/

img,
input {
	border: 0;
}

body,
html {
	min-width: 320px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: arial, "microsoft yahei";
}

body,
html,
input,
ul,
li,
h1,
p {
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

a {
	text-decoration: none;
}

#app {
	flex-grow: 1;
}


/*搜索部分*/

.search {
	display: flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	margin: 4px 10px 10px;
	background: #eee;
	border-radius: 10px;
}

.search input {
	height: 50px;
	width: 80%;
	background: #eee;
	text-align: center;
}

.search input::-webkit-input-placeholder {
	color: #000;
}

.search input:-moz-placeholder {
	color: #000;
}

.search input::-moz-placeholder {
	color: #000;
}

.search input:-ms-input-placeholder {
	color: #000;
}

.search .iconfont {
	display: block;
	color: #000;
	font-size: 25px;
	line-height: 50px;
}


/*加载中*/

.loading {
	font-size: 20px;
	text-align: center;
	height: 50px;
}


/*主体部分*/

main,
.label,
.left {
	display: flex;
}

main {
	flex-direction: column;
	padding: 0 20px;
}

main a {
	color: #000;
}

.label {
	display: flex;
	margin: 10px 0;
	justify-content: space-between;
}

.left {
	flex-direction: row;
}

.left div:nth-child(1) {
	margin-right: 20px;
}

.rigth {
	color: #fff;
	flex-direction: row;
	text-align: center;
	background: #666;
}

.class,
.rigth,
.author {
	padding: 2px 4px;
	border-radius: 5px;
}

.class {
	color: #fff;
	background-color: #558bc1;
}

.author {
	color: #dc4f4f;
	background-color: #eee;
}

article {
	display: flex;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

aside img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

article p {
	position: relative;
	padding-right: 30px;
	height: 108px;
	width: 90%;
	overflow: hidden;
}

article p a {
	color: #888;
}